*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    nav
    {
        display: flex;
        width: 100vw;
        justify-content: space-around;
        background-color: darkblue;
        align-items: center;
        height: 15vh;
        a
        {
            color: white;
            text-decoration: none;
        }

        a:hover
        {
            color: white;
            text-decoration: underline 2px;
        }
    }

    div
    {
        height: 70vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .h1-form
    {
        //width: 100vw;
        text-align: center;
        //margin: 0 auto;
        margin-top: 10vh;
        margin-bottom: 20px;
    }

    form
    {
        display: flex;
        flex-direction: column;
        justify-content: center;

        label
        {
            margin-top: 10px;
            margin-left: 4px;
        }

        input[type="text"]
        {
            border-radius: 8px;
            padding: 5px 5px;
            border: 1px solid black;
        }

        input[type="password"]
        {
            border-radius: 8px;
            text-indent: 0px;
            padding: 5px 5px;
            border: 1px solid black;
            margin-bottom: 10px;
        }

        input[type="submit"]
        {
            color: rgb(51, 51, 255);
            margin: 0 auto;
            font-weight: bold;
            font-size: 15px;
            width: 9vw;
            height: 9vh;
            border-radius: 10px;
            border: 3px solid rgb(51, 51, 255);
            background-color: white;
        }

        input[type="submit"]:hover
        {
            cursor: pointer;
            background-color: rgb(51, 51, 255);
            color: white;
        }
    }

    table
    {
        border-radius: 10px;
        width: 50vw;
        box-shadow: 0px 0px 20px rgb(124, 124, 124);
        tr
        {
            padding: 0px 0px;
            border:1px solid grey; 
            th
            {
                background-color: grey;
                padding: 10px 0px;
                width: 30vw;
                color: white;
                -webkit-text-stroke: 0.6px black;
                font-size: 22px;
                border-radius: 10px 10px 0px 0px;
            }
        }

        td
        {
            text-indent: 5px;
            padding: 4px 0px;
            //border-left:1px solid grey; 
            #botao-editar
            {
                background-color: green;
                color: white;
                padding: 6px;
                border: none;
                border-radius: 5px;
                border: 1px solid white;
                cursor: pointer;
            }

            #botao-excluir
            {
                background-color: red;
                color: white;
                padding: 6px;
                border: none;
                border-radius: 5px;
                border: 1px solid white;
                margin-left: 10px;
                cursor: pointer;
            }
        }

        #botoes
            {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            
        tr:nth-child(odd) {
        background-color:#cfcfcf;
        }

    }
}

